[Desktop Entry]
Encoding=UTF-8
Name=LendCoin
Comment=Paycoin
Exec=/usr/bin/paycoin-qt %u
Terminal=false
Type=Application
Icon=lendcoin
MimeType=x-scheme-handler/paycoin;
Categories=Office;
